[build]
builder = "NIXPACKS"
watchPatterns = ["Downloads/leadstrategies-frontend-FINAL/leadstrategies-frontend/**"]

[deploy]
startCommand = "npm start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[nixpacks]
nixpkgsArchive = "ba913eda2df8eb72147259189d55932012df6301"

[nixpacks.phases.setup]
nixPkgs = ["nodejs_20", "npm-9_x"]

[nixpacks.phases.install]
cmds = ["npm ci --production=false || npm install"]

[nixpacks.phases.build]
cmds = ["npm run build"]
