[build]
builder = "NIXPACKS"

[deploy]
startCommand = "npm start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[nixpacks.phases.setup]
nixPkgs = ["nodejs_20"]

[nixpacks.phases.install]
cmds = ["npm install"]

[nixpacks.phases.build]
cmds = ["npm run build"]
